<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>
    
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>  
       
      <h2>Members</h2>
       
    
       
      <table border="1">
            <tr>
               <th>User Name</th>
               <th>Password</th>
               <th>Is Logged In</th>
               <th>Status Id</th>
               <th>Status Name</th>
            </tr>
            <tr th:each ="member : ${members}">
               <td th:utext="${member.username}">...</td>
               <td th:utext="${member.password}">...</td>
               <td th:utext="${member.isLoggedIn}">...</td>
               <td th:utext="${member.status.id}">...</td>
               <td th:utext="${member.status.name}">...</td>
            </tr>
      </table>
       
   </body>
</html>